language: C
sudo: required
dist: trusty

addons:
  apt:
    packages:
    - libtool
    - libglib2.0-dev
    - libmagic-dev
    - libxml2-dev
    - libjson-c-dev
    - libmicrohttpd-dev
    - libcurl4-openssl-dev
    - libclamav-dev
  coverity_scan:
    project:
      name: "armadito/armadito-mod-h1"
      description: "Build submitted via Travis CI"
    notification_email: vhamon@teclib.com
    build_command_prepend: "./configure PKG_CONFIG_PATH=/home/travis/build/armadito-core/lib/pkgconfig; make clean"
    build_command:   "make -j 4"
    branch_pattern: coverity_scan

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "VBRuucKW724c/FVLkSzWaePaQtHDUinBN6qZ1dQzLteQUvIGi5x7UIBBPHO+78L+rNPFYXi4fC0v/6F7JjU+STuHm5sAsXyo9vu3g1d6Hr6D9LYe2j+oVU4MGO9LPU74rbnINHhQ8/TEZbFfWWaRE7RSo66cZA4WygFyeUAlCPEB/d6Aw8P6zg66OSJ8Ti4n4EpUXpU0auBZbxjgRJNA6qkg1Nf1x2CM2IdhJbrDYB2xHKcw3z4++7872EJLcqWP++5V90fgYQEq2iaR5uOlZYsD7T3ZuRfC524eqK2CFMddceza7UjBlOkAq9Tex97e5LDTWgzd0g29cVfbOOo5kMbrZYlvXrX7W4/uQ4rnai/t1u+/VIlzYJYJZwloR7eFgStIZeKSjBkMwYUteYr/hvkSrz3bmkSsiWVJ4UYxKv+PszIm3k39qfWmYJbjCBpiICVLEsQ5tKXac8cUX/fPYGmSLPYbWxWlJtoQM5gynn1bvRa2giG8zq9x2R0+U+33FTJm7bh1yyL9vLv6p25sDmxfH2u2JbI2mshN0MnOL26soaueSaJrH8MpD/58q64vaV2x9d7pZDuBqLIV6QkTDDfYv1g33QZcoTVMBXQyL5ku+XC7smOTziH20y96jEGTD8ztJk81ACSNgFCtRC0fC8RUrDOgG5YBoehvU4cdEVw="

before_install:
  - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

compiler:
  - gcc

before_script:
  - git clone git://github.com/armadito/armadito-av -b DEV
  - cd armadito-av/core
  - ./autogen.sh
  - mkdir -p /home/travis/build/armadito-core
  - ./configure --prefix=/home/travis/build/armadito-core
  - make
  - make install
  - cd /home/travis/build/armadito/armadito-mod-h1
  - ./autogen.sh

script:
  ./configure PKG_CONFIG_PATH=/home/travis/build/armadito-core/lib/pkgconfig && make clean && make && make check
